swagger: '2.0'
info:
  title: Machines - API
  description: API сервиса "Машины и механизмы".
  termsOfService: 'http://www.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.ru/'
  version: '1'
  contact:
    name: Модуль "Машины и механизмы" API Support
    url: 'http://www.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.ru/'
    email: support@XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.ru
  license:
    name: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    url: 'http://www.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.ru/'
host: vm-ais-normativ.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.ru
basePath: /ws-mach/v1
produces:
  - application/json
schemes:
  - http
paths:
  /:
    get:
      description: Получение API для модуля мониторинга цен
      summary: API
      tags:
        - API-Doc
      responses:
        '200':
          description: Запрос успешно обработан
  /sections/zapros:
    get:
      summary: Раздел ресурсов
      description: Получение списка разделов ресурсов
      tags:
        - Sections
      parameters:
        - name: id
          in: query
          description: Идентификатор раздела ресурсов
          required: false
          type: integer
        - name: section_root
          in: query
          description: Идентификатор раздела родителя
          required: false
          type: integer
        - name: is_deleted
          in: query
          description: |
            Метка "Удален" раздел или нет.
            False - по-умолчанию
          required: false
          type: boolean
          default: false
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список разделов ресурсов
            type: array
            items:
              $ref: '#/definitions/ResourceSection'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  '/sections/{id}/zapros':
    get:
      summary: Раздел ресурсов
      description: Получение раздела ресурсов
      tags:
        - Sections
      parameters:
        - name: id
          in: path
          description: Идентификатор раздела ресурсов
          required: true
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            $ref: '#/definitions/ResourceSection'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  '/sections/{id}/udalenie':
    delete:
      summary: Раздел ресурсов
      description: Удаление раздела ресурсов
      tags:
        - Sections
      parameters:
        - name: id
          in: path
          description: Идентификатор раздела ресурсов
          required: true
          type: integer
      responses:
        '204':
          description: Раздел ресурсов успешно удален
        '409':
          description: Во время обработки запроса произошел конфликт
          schema:
            $ref: '#/definitions/ServiceError'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /sections/novoe:
    post:
      summary: Раздел ресурсов
      description: Добавление нового раздела ресусров
      tags:
        - Sections
      parameters:
        - name: data
          in: body
          description: JSON структура раздела ресурсов
          required: true
          schema:
            $ref: '#/definitions/ResourceSection'
      responses:
        '201':
          description: Раздел ресурсов успешно добавлен
          schema:
            title: Идентификатор раздела ресурсов
            description: Идентификатор добавленного раздела ресурсов в системе
            type: integer
        '412':
          description: Полученные данные не прошли валидацию
          schema:
            title: Список ошибок при валидации
            type: array
            items:
              $ref: '#/definitions/ServiceError'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /sections/redaktor:
    put:
      summary: Раздел ресурсов
      description: Редактирование раздела ресурсов
      tags:
        - Sections
      parameters:
        - name: data
          in: body
          description: JSON структура отредактированного раздела ресурсов
          required: true
          schema:
            $ref: '#/definitions/ResourceSection'
      responses:
        '200':
          description: Раздел ресурсов успешно обновлен
          schema:
            title: Идентификатор раздела ресурсов
            description: Идентификатор обновленного раздела ресурсов в системе
            type: integer
        '409':
          description: Во время обработки запроса произошел конфликт
          schema:
            $ref: '#/definitions/ServiceError'
        '412':
          description: Полученные данные не прошли валидацию
          schema:
            title: Список ошибок при валидации
            type: array
            items:
              $ref: '#/definitions/ServiceError'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resource_types/zapros:
    get:
      summary: Тип ресурса
      description: Получение списка типов ресурсов
      tags:
        - ResourceTypes
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список типов ресурсов
            type: array
            items:
              $ref: '#/definitions/ResourceType'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  '/resource_types/{id}/zapros':
    get:
      summary: Тип ресурсов
      description: Получение типа ресурсов
      tags:
        - ResourceTypes
      parameters:
        - name: id
          in: path
          description: Идентификатор типа ресурсов
          required: true
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            $ref: '#/definitions/ResourceType'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resources/zapros:
    get:
      summary: Ресурсы
      description: Получение списка ресурсов
      tags:
        - Resource
      parameters:
        - name: id
          in: query
          description: Идентификатор ресурса
          required: false
          type: integer
        - name: section
          in: query
          description: Идентификатор раздела
          required: false
          type: integer
        - name: resource_type
          in: query
          description: Идентификатор типа ресурсов
          required: false
          type: integer
        - name: status
          in: query
          description: Идентификатор статуса ресурса
          required: false
          type: integer
        - name: status_action
          in: query
          description: Идентификатор статуса действия ресурса
          required: false
          type: integer
        - name: employee
          in: query
          description: Идентификатор сотрудника
          required: false
          type: integer
        - name: is_deleted
          in: query
          description: |
            Метка "Удален" ресурс или нет.
            False - по-умолчанию
          required: false
          type: boolean
          default: false
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список ресурсов
            type: array
            items:
              $ref: '#/definitions/Resource'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resources/table/zapros:
    get:
      summary: Ресурсы
      description: Получение списка ресурсов
      tags:
        - Resource
      parameters:
        - name: id
          in: query
          description: Идентификатор ресурса
          required: false
          type: integer
        - name: section
          in: query
          description: Идентификатор раздела
          required: false
          type: integer
        - name: resource_type
          in: query
          description: Идентификатор типа ресурсов
          required: false
          type: integer
        - name: status
          in: query
          description: Идентификатор статуса ресурса
          required: false
          type: integer
        - name: status_action
          in: query
          description: Идентификатор статуса действия ресурса
          required: false
          type: integer
        - name: employee
          in: query
          description: Идентификатор сотрудника
          required: false
          type: integer
        - name: is_deleted
          in: query
          description: |
            Метка "Удален" ресурс или нет.
            False - по-умолчанию
          required: false
          type: boolean
          default: false
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список ресурсов
            type: array
            items:
              $ref: '#/definitions/ResourceTable'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  '/resources/{id}/zapros':
    get:
      summary: Ресурсы
      description: Получение ресурса
      tags:
        - Resource
      parameters:
        - name: id
          in: path
          description: Идентификатор ресурса
          required: true
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            $ref: '#/definitions/Resource'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  '/resources/{id}/udalenie':
    delete:
      summary: Ресурсы
      description: Удаление ресурса
      tags:
        - Resource
      parameters:
        - name: id
          in: path
          description: Идентификатор ресурса
          required: true
          type: integer
      responses:
        '204':
          description: Ресурс успешно удален
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resources/novoe:
    post:
      summary: Ресурсы
      description: Добавление нового ресурса
      tags:
        - Resource
      parameters:
        - name: data
          in: body
          description: JSON структура ресурса
          required: true
          schema:
            $ref: '#/definitions/Resource'
      responses:
        '201':
          description: Ресурс успешно добавлен
          schema:
            title: Идентификатор ресурса
            description: Идентификатор добавленого ресурса в системе
            type: integer
        '412':
          description: Полученные данные не прошли валидацию
          schema:
            title: Список ошибок при валидации
            type: array
            items:
              $ref: '#/definitions/ServiceError'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resources/redaktor:
    put:
      summary: Ресурсы
      description: Редактирование ресурса
      tags:
        - Resource
      parameters:
        - name: data
          in: body
          description: JSON структура отредактированного ресурса
          required: true
          schema:
            $ref: '#/definitions/Resource'
      responses:
        '200':
          description: Ресурс успешно обновлен
          schema:
            title: Идентификатор ресурса
            description: Идентификатор обновленного ресурса в системе
            type: integer
        '409':
          description: Во время обработки запроса произошел конфликт
          schema:
            $ref: '#/definitions/ServiceError'
        '412':
          description: Полученные данные не прошли валидацию
          schema:
            title: Список ошибок при валидации
            type: array
            items:
              $ref: '#/definitions/ServiceError'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resources/change_status:
    put:
      summary: Ресурсы
      description: Изменение статуса ресурса
      tags:
        - Resource
      parameters:
        - name: id
          in: query
          description: Идентификатор ресурса
          required: true
          type: integer
        - name: new_status
          in: query
          description: Идентификатор нового статуса для ресурса
          required: true
          type: integer
      responses:
        '200':
          description: Ресурс успешно обновлен
          schema:
            title: Идентификатор ресурса
            description: Идентификатор обновленного ресурса в системе
            type: integer
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resources/change_employee:
    put:
      summary: Ресурсы
      description: Изменение сотрудника у ресурса
      tags:
        - Resource
      parameters:
        - name: id
          in: query
          description: Идентификатор ресурса
          required: true
          type: integer
        - name: new_employee
          in: query
          description: Идентификатор сотрудника
          required: true
          type: integer
      responses:
        '200':
          description: Ресурс успешно обновлен
          schema:
            title: Идентификатор ресурса
            description: Идентификатор обновленного ресурса в системе
            type: integer
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /periods/zapros:
    get:
      summary: Периоды
      description: Получение списка периодов
      tags:
        - Periods
      parameters:
        - name: id
          in: query
          description: Идентификатор периода
          required: false
          type: integer
        - name: status
          in: query
          description: Идентификатор статуса периода
          required: false
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список периодов
            type: array
            items:
              $ref: '#/definitions/Period1'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  '/periods/{id}/zapros':
    get:
      summary: Периоды
      description: Получение периода
      tags:
        - Periods
      parameters:
        - name: id
          in: path
          description: Идентификатор периода
          required: true
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            $ref: '#/definitions/Period1'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  '/periods/{id}/udalenie':
    delete:
      summary: Периоды
      description: Удаление периода
      tags:
        - Periods
      parameters:
        - name: id
          in: path
          description: Идентификатор периода
          required: true
          type: integer
      responses:
        '204':
          description: Период успешно удален
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /periods/novoe:
    post:
      summary: Периоды
      description: Добавление нового периода
      tags:
        - Periods
      parameters:
        - name: data
          in: body
          description: JSON структура периода
          required: true
          schema:
            $ref: '#/definitions/Period1'
      responses:
        '201':
          description: Период успешно добавлен
          schema:
            title: Идентификатор периода
            description: Идентификатор добавленого периода в системе
            type: integer
        '409':
          description: Во время обработки запроса произошел конфликт
          schema:
            $ref: '#/definitions/ServiceError'
        '412':
          description: Полученные данные не прошли валидацию
          schema:
            title: Список ошибок при валидации
            type: array
            items:
              $ref: '#/definitions/ServiceError'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /periods/redaktor:
    put:
      summary: Периоды
      description: Редактирование периода
      tags:
        - Periods
      parameters:
        - name: data
          in: body
          description: JSON структура отредактированного периода
          required: true
          schema:
            $ref: '#/definitions/Period1'
      responses:
        '200':
          description: Период успешно обновлен
          schema:
            title: Идентификатор периода
            description: Идентификатор обновленного периода в системе
            type: integer
        '409':
          description: Во время обработки запроса произошел конфликт
          schema:
            $ref: '#/definitions/ServiceError'
        '412':
          description: Полученные данные не прошли валидацию
          schema:
            title: Список ошибок при валидации
            type: array
            items:
              $ref: '#/definitions/ServiceError'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /period_statuses/zapros:
    get:
      summary: Статусы периода
      description: Получение списка статусов периода
      tags:
        - Statuses
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список статусов периода
            type: array
            items:
              $ref: '#/definitions/PeriodStatus'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  '/period_statuses/{id}/zapros':
    get:
      summary: Статусы периода
      description: Получение статуса периода
      tags:
        - Statuses
      parameters:
        - name: id
          in: path
          description: Идентификатор статуса периода
          required: true
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            $ref: '#/definitions/PeriodStatus'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resource_statuses/zapros:
    get:
      summary: Статусы ресурса
      description: Получение списка статусов ресурса
      tags:
        - Statuses
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список статусов ресурса
            type: array
            items:
              $ref: '#/definitions/ResourceStatus'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  '/resource_statuses/{id}/zapros':
    get:
      summary: Статусы ресурса
      description: Получение статуса ресурса
      tags:
        - Statuses
      parameters:
        - name: id
          in: path
          description: Идентификатор статуса ресурса
          required: true
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            $ref: '#/definitions/ResourceStatus'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resource_statuses_action/zapros:
    get:
      summary: Статусы действия над ресурсом
      description: Получение списка статусов действия над ресурсом
      tags:
        - Statuses
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список статусов действия над ресурсом
            type: array
            items:
              $ref: '#/definitions/ResourceStatusAction'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  '/resource_statuses_action/{id}/zapros':
    get:
      summary: Статусы действия над ресурсом
      description: Получение статуса действия над ресурсом
      tags:
        - Statuses
      parameters:
        - name: id
          in: path
          description: Идентификатор статуса действия над ресурсом
          required: true
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            $ref: '#/definitions/ResourceStatusAction'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /relocations/zapros:
    get:
      summary: Перебазировка
      description: Получение списка перебазировок
      tags:
        - Relocations
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список методов вычислений
            type: array
            items:
              $ref: '#/definitions/Relocation'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  '/relocations/{id}/zapros':
    get:
      summary: Перебазировка
      description: Получение перебазировки
      tags:
        - Relocations
      parameters:
        - name: id
          in: path
          description: Идентификатор перебазировки
          required: true
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            $ref: '#/definitions/Relocation'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /powertype/zapros:
    get:
      summary: Типа энергоресурса
      description: Получение списка типов энергоресурса
      tags:
        - PowerTypes
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список типов энергоресурса
            type: array
            items:
              $ref: '#/definitions/PowerType'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  '/powertype/{id}/zapros':
    get:
      summary: Типа энергоресурса
      description: Получение типа энергоресурса
      tags:
        - PowerTypes
      parameters:
        - name: id
          in: path
          description: Идентификатор типа энергоресурса
          required: true
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            $ref: '#/definitions/PowerType'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /metainfo/zapros:
    get:
      summary: Meta-Info
      description: Мета-информация об объектах
      tags:
        - Meta
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список объектов с описанием их полей
            type: array
            items:
              $ref: '#/definitions/MetaObjectInfo'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /metaaction/zapros:
    get:
      summary: Meta-Action
      description: Мета-информация о действиях над объектами
      tags:
        - Meta
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список объектов с возможными действиями над ними
            type: array
            items:
              $ref: '#/definitions/MetaActionInfo'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /metadata/zapros:
    get:
      summary: Meta-Data
      description: Мета-данные объекта
      tags:
        - Meta
      parameters:
        - name: object_type
          in: query
          description: Тип объекта
          required: true
          type: string
        - name: object_field
          in: query
          description: Поле объекта
          required: true
          type: string
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            title: Значения поля
            description: Список значений заданного поля объекта
            type: array
            items:
              description: Значение поля объекта
              type: string
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
definitions:
  Resource:
    type: object
    title: Ресурс
    description: Модель ресурса
    properties:
      id:
        type: integer
        description: Идентификатор ресурса
      name:
        type: string
        description: Название ресурса
      full_name:
        type: string
        description: Полное название ресурса
      code_tsn:
        type: string
        description: |
          Код ТСН.
          Обязательный!
      code_okp:
        type: string
        description: Код ОКП
      code_okpd2:
        type: string
        description: Код ОКПД2
      specification:
        type: string
        description: Технические характеристики
      employee:
        type: integer
        description: Идентификатор сотрудника
      is_deleted:
        type: boolean
        description: |
          Флаг удаления.
          Обязательный!
      resource_type:
        type: integer
        description: |
          Идентификатор типа ресурса.
          Обязательный!
      resource_section:
        type: integer
        description: |
          Идентификатор раздела ресурса.
          Обязательный!
      resource_status:
        type: integer
        description: |
          Идентификатор статуса ресурса.
          Обязательный!
      resource_status_action:
        type: integer
        description: |
          Идентификатор статуса ресурса.
          Обязательный!
      power_type:
        type: integer
        description: |
          Идентификатор типа энергоресурса.
          Обязательный!
      relocation:
        type: integer
        description: |
          Идентификатор  перебазировки ресурса.
      coef_recount_current:
        type: number
        format: double
        description: Коэффициент пересчета (текущий)
      coef_recount_previous:
        type: number
        format: double
        description: Коэффициент пересчета (предидущий)
      estimated_current_price:
        type: integer
        format: int64
        description: Сметная текущая цена
      estimated_base_price:
        type: integer
        format: int64
        description: Сметная базисная цена
      index_amortization:
        type: number
        format: double
        description: >-
          Нормативный показатель амортизационных отчислений на полное
          восстановление
      ave_price:
        type: integer
        format: int64
        description: >-
          Средневзвешенная восстановительная стоимость машин данной
          типоразмерной группы
      selling_price:
        type: integer
        format: int64
        description: Отпускная цена определенной марки машины данной типоразмерной группы
      volume_of_sales:
        type: integer
        format: int64
        description: >
          Показатель объема реализации определенной марки машины за
          соответствующий отчетный период
      time_useful_machine:
        type: number
        format: double
        description: Нормативный срок полезного использования машины
      yearly_mode_work:
        type: number
        format: double
        description: Нормативный годовой режим работы машины
      number_of_celebrated_days:
        type: integer
        format: int32
        description: Количество праздничных дней в году
      days_downtime_weather:
        type: integer
        format: int32
        description: >-
          Cреднее количество дней простоя машин за год по метеорологическим
          причинам
      days_downtime_service:
        type: integer
        format: int32
        description: >
          Cреднее количество дней простоя машин за год по причинам ремонта и
          технического обслуживания
      days_downtime_relocation:
        type: integer
        format: int32
        description: Cреднее количество дней простоя машин за год по причинам перебазировок
      duration_of_working_change:
        type: integer
        format: int32
        description: >-
          Установленная продолжительность рабочей смены, принимается в размере 8
          ч
      coef_change_working_machine:
        type: number
        format: double
        description: >-
          Коэффициент сменности работы машины данной типоразмерной группы в
          течение года
      refine_coef_yearly_mode_work:
        type: number
        format: double
        description: >
          Поправочный коэффициент к показателю годового режима работы машин и
          механизмов

          в зависимости от температурных зон
      norma_amortization_on_reduction:
        type: number
        format: double
        description: 'Норма амортизационных отчислений на полное восстановление, процент/год'
      time_useful_auto_machine:
        type: number
        format: double
        description: Нормативный срок использования автотранспортного средства
      norma_amortization_auto_machine:
        type: number
        format: double
        description: >
          Норма амортизационных отчислений для автотранспортных средств,
          процент/1000 км годового пробега
      middle_year_mileage:
        type: integer
        format: int64
        description: Показатель среднегодового пробега автотранспортных средств
      index_service:
        type: number
        format: double
        description: >
          Нормативный показатель затрат на выполнение всех видов ремонта и
          технического обслуживания машин
      norma_year_cost_service:
        type: number
        format: double
        description: >
          Норма годовых затрат на ремонт и ТО в процентах от восстановительной
          стоимости машин данной типоразмерной группы
      index_wearable_parts:
        type: number
        format: double
        description: Нормативный показатель затрат на замену быстроизнашивающихся частей
      coef_wearable_parts:
        type: number
        format: double
        description: >
          Коэффициент, учитывающий долю затрат на замену быстроизнашивающихся
          частей в

          структуре затрат на ремонт и ТО машин
      index_salary:
        type: number
        format: double
        description: 'Нормативный показатель оплаты труда рабочих, управляющих машинами'
      index_salary_hour:
        type: number
        format: double
        description: Показатель часовой оплаты труда рабочего данного тарифного разряда
      expenses_worker:
        type: number
        format: double
        description: >-
          Затраты труда рабочих, управляющих машиной, данного квалификационного
          разряда
      index_petrol:
        type: number
        format: double
        description: >-
          Нормативный стоимостной показатель затрат на бензин и дизельное
          топливо для машин
      norma_consumption_petrol_techn:
        type: number
        format: double
        description: Норма расхода бензина при работе машины в технологическом режиме
      estimated_price_petrol:
        type: integer
        format: int64
        description: Сметная цена бензина
      norma_consumtion_petrol_exploatation:
        type: number
        format: double
        description: >
          Линейная норма расхода бензина или дизельного топлива при эксплуатации
          автотранспортных средств
      density_power:
        type: number
        format: double
        description: Плотность энергоносителя
      power_motor:
        type: integer
        format: int64
        description: Мощность электродвигателя
      coef_power_motor:
        type: number
        format: double
        description: Коэффициент использования электродвигателя по мощности
      coef_time_motor:
        type: number
        format: double
        description: Коэффициент использования электродвигателя по времени
      estimated_price_electricity:
        type: integer
        format: int64
        description: Сметная цена электроэнергии
      estimated_price_installation:
        type: integer
        format: int64
        description: Сметная цена на эксплуатацию передвижной компрессорной установки
      norma_consumtion_compressed_air:
        type: number
        format: double
        description: >-
          Нормативный расход сжатого воздуха, потребляемого машиной данной
          типоразмерной группы
      estimated_price_compressed_air:
        type: integer
        format: int64
        description: Сметная цена на сжатый воздух
      passport_power_installation:
        type: number
        format: double
        description: >
          Паспортная мощность передвижной компрессорной установки определенной
          типоразмерной группы
      coef_installation_power:
        type: number
        format: double
        description: >
          Коэффициент использования передвижной компрессорной установки
          конкретной типоразмерной 

          группы по мощности
      coef_installation_time:
        type: number
        format: double
        description: >
          Коэффициент использования передвижной компрессорной установки
          конкретной типоразмерной 

          группы по времени
      index_lubricants:
        type: number
        format: double
        description: Нормативный показатель затрат на смазочные материалы
      estimated_price_engine_oils:
        type: integer
        format: int64
        description: Cметные цены на моторные масла
      estimated_price_lubricants:
        type: integer
        format: int64
        description: Cметные цены на пластичные смазки
      estimated_price_transmission_oils:
        type: integer
        format: int64
        description: Cметные цены на трансмиссионные масла
      index_auto:
        type: number
        format: double
        description: Показатель для автотранспортных средств
      index_hydraulic_fluid_density:
        type: number
        format: double
        description: Нормативный показатель затрат на гидравлическую жидкость
      index_hydraulic_fluid_density:
        type: number
        format: double
        description: >-
          Показатель плотности гидравлической жидкости, принимаемый в размере
          0,87
      coef_of_hydraulic_liquid:
        type: number
        format: double
        description: >
          Коэффициент доливок гидравлической жидкости, восполняющих ее
          самопроизвольные

          утечки при работе машин, принимаемый в размере 1,50
      index_hydraulic_fluid_replacement:
        type: number
        format: double
        description: >
          Показатель периодичности полной одновременной замены гидравлической
          жидкости

          по всей гидравлической системе машины
      estimated_price_of_hydraulic_liquid:
        type: integer
        format: int64
        description: Cметная цена гидравлической жидкости
      norma_consumtion_hydraulic_liquid:
        type: number
        format: double
        description: >
          Норма расхода гидравлической жидкости при работе машины в
          технологическом режиме в летнее время
      index_relocation_machines:
        type: number
        format: double
        description: Нормативный показатель затрат на перебазировку машин
      index_translation_machines_for_relocating_its_own:
        type: number
        format: double
        description: Нормативный показатель затрат на перебазировку машин своим ходом
      costs_on_energy_its_own:
        type: number
        format: double
        description: >-
          Затраты на энергоноситель при работе машины, подлежащей перебазировке
          своим ходом
      norma_consumtion_diesel_fuel_its_own:
        type: number
        format: double
        description: >
          Линейная норма расхода дизельного топлива при работе машины,
          подлежащей перебазировке своим ходом
      norma_moving_the_machine:
        type: number
        format: double
        description: >-
          Нормативный показатель пробега машины данного вида и данной
          типоразмерной группы
      index_middle_year_replacement_of_machine:
        type: number
        format: double
        description: Среднегодовой показатель затрат времени на одну перебазировку машины
      index_middle_year_time_of_work_of_the_machine:
        type: number
        format: double
        description: >-
          Среднегодовой показатель времени работы машины на одной строительной
          площадке
      duration_of_working_change_machine:
        type: number
        format: double
        description: Нормативная продолжительность рабочей смены
      estimated_price_on_tractor:
        type: integer
        format: int64
        description: Cметная цена на эксплуатацию тягача
      estimated_price_machine_support:
        type: integer
        format: int64
        description: Cметная цена на эксплуатацию машины сопровождения
      estimated_price_on_trailer:
        type: integer
        format: int64
        description: Сметная цена на эксплуатацию прицепа
      price_on_crane:
        type: integer
        format: int64
        description: Цена на эксплуатацию крана данного вида и типоразмерной группы
      time_explotation_crane:
        type: number
        format: double
        description: Время эксплуатации крана в процессе демонтажа
      time_explotation_tractor:
        type: number
        format: double
        description: Время эксплуатации тягоча
      time_of_the_working_worker:
        type: number
        format: double
        description: Календарное время работы рабочего
      index_salary_worker_for_relocating:
        type: number
        format: double
        description: >
          Нормативный показатель оплаты труда рабочего, дополнительно
          привлекаемых

          для выполнения работ по перебазировке машины
      time_worker_for_relocating:
        type: number
        format: double
        description: |
          Календарное время работы рабочего, дополнительно привлекаемых
          для выполнения работ по перебазировке машины
      coef_on__relocating:
        type: number
        format: double
        description: 'Коэффициент, учитывающий долю затрат на перебазировку машин'
      index_hydraulic_system_capacity:
        type: integer
        format: int64
        description: >
          Cредневзвешенный показатель вместимости гидравлической системы машин
          данной типоразмерной группы
      index_yearly_mode_work_on_replacement:
        type: number
        format: double
        description: >-
          Нормативный показатель годового режима работы машины, подлежащей
          перебазировке
      amount_replacement:
        type: number
        format: double
        description: >-
          Количество перебазировок машин данного вида и данной типоразмерной
          группы в год
      sum_volume_of_sales:
        type: integer
        format: int64
        description: Сумма объемов реализации машин
      is_technical_break:
        type: boolean
        description: |
          Технический перерыв(флаг).
          Обязательный!
      index_amortization_h:
        type: number
        format: double
        description: >-
          Нормативный показатель амортизационных отчислений на полное
          восстановление(ручной)
      index_amortization_f:
        type: boolean
        description: >
          Нормативный показатель амортизационных отчислений на полное
          восстановление(флаг).

          Обязательный!
      ave_price_h:
        type: integer
        format: int64
        description: Средневзвешенная восстановительная стоимость машин(ручной)
      ave_price_f:
        type: boolean
        description: |
          Средневзвешенная восстановительная стоимость машин(флаг).
          Обязательный!
      time_useful_machine_h:
        type: number
        format: double
        description: Нормативный срок полезного использования машины(ручной)
      time_useful_machine_f:
        type: boolean
        description: |
          Нормативный срок полезного использования машины(флаг).
          Обязательный!
      yearly_mode_work_h:
        type: number
        format: double
        description: Нормативный годовой режим работы машины(ручной)
      yearly_mode_work_f:
        type: boolean
        description: |
          Нормативный годовой режим работы машины(флаг).
          Обязательный!
      time_useful_auto_machine_h:
        type: number
        format: double
        description: Нормативный срок использования автотранспортного средства(ручной)
      time_useful_auto_machine_f:
        type: boolean
        description: |
          Нормативный срок использования автотранспортного средства(флаг).
          Обязательный!
      index_service_h:
        type: number
        format: double
        description: >
          Нормативный показатель затрат на выполнение всех видов ремонта и
          технического обслуживания машин(ручной)
      index_service_f:
        type: boolean
        description: >
          Нормативный показатель затрат на выполнение всех видов ремонта и
          технического обслуживания машин(флаг).

          Обязательный!
      index_wearable_parts_h:
        type: number
        format: double
        description: >-
          Нормативный показатель затрат на замену быстроизнашивающихся
          частей(ручной)
      index_wearable_parts_f:
        type: boolean
        description: >
          Нормативный показатель затрат на замену быстроизнашивающихся
          частей(флаг).

          Обязательный!
      index_salary_h:
        type: number
        format: double
        description: >-
          Нормативный показатель оплаты труда рабочих, управляющих
          машинами(ручной)
      index_salary_f:
        type: boolean
        description: >
          Нормативный показатель оплаты труда рабочих, управляющих
          машинами(флаг).

          Обязательный!
      index_petrol_h:
        type: number
        format: double
        description: >
          Нормативный стоимостной показатель затрат на бензин и дизельное
          топливо для машин(ручной)
      index_petrol_f:
        type: boolean
        description: >
          Нормативный стоимостной показатель затрат на бензин и дизельное
          топливо для машин(флаг).

          Обязательный!
      estimated_price_compressed_air_h:
        type: integer
        format: int64
        description: Сметная цена на сжатый воздух(ручной)
      estimated_price_compressed_air_f:
        type: boolean
        description: |
          Сметная цена на сжатый воздух(флаг).
          Обязательный!
      index_lubricants_h:
        type: number
        format: double
        description: Нормативный показатель затрат на смазочные материалы(ручной)
      index_lubricants_f:
        type: boolean
        description: |
          Нормативный показатель затрат на смазочные материалы(флаг).
          Обязательный!
      index_hydraulic_liquid_h:
        type: number
        format: double
        description: Нормативный показатель затрат на гидравлическую жидкость(ручной)
      index_hydraulic_liquid_f:
        type: boolean
        description: |
          Нормативный показатель затрат на гидравлическую жидкость(флаг).
          Обязательный!
      index_relocation_machines_h:
        type: number
        format: double
        description: Нормативный показатель затрат на перебазировку машин(ручной)
      index_relocation_machines_f:
        type: boolean
        description: |
          Нормативный показатель затрат на перебазировку машин(флаг).
          Обязательный!
      costs_on_energy_its_own_h:
        type: number
        format: double
        description: >
          Затраты на энергоноситель при работе машины, подлежащей перебазировке
          своим ходом(ручной)
      costs_on_energy_its_own_f:
        type: boolean
        description: >
          Затраты на энергоноситель при работе машины, подлежащей перебазировке
          своим ходом(флаг).

          Обязательный!
      index_middle_year_time_of_work_of_the_machine_h:
        type: number
        format: double
        description: >-
          Среднегодовой показатель времени работы машины на одной строительной
          площадке(ручной)
      index_middle_year_time_of_work_of_the_machine_f:
        type: boolean
        description: >
          Среднегодовой показатель времени работы машины на одной строительной
          площадке(флаг).

          Обязательный!
  ResourceTable:
    type: object
    title: Ресурс в таблице
    description: Модель ресурса в таблице
    properties:
      id:
        type: integer
        description: |
          Идентификатор ресурса
          Обязательный!
      name:
        type: string
        description: Название ресурса
      full_name:
        type: string
        description: Полное название ресурса
      code_tsn:
        type: string
        description: |
          Код ТСН.
          Обязательный!
      code_okp:
        type: string
        description: Код ОКП
      code_okpd2:
        type: string
        description: Код ОКПД2
      specification:
        type: string
        description: Технические характеристики
      employee:
        type: integer
        description: Идентификатор сотрудника
      resource_status:
        type: integer
        description: |
          Идентификатор статуса ресурса.
          Обязательный!
      estimated_current_price:
        type: integer
        format: int64
        description: Сметная текущая цена
      estimated_base_price:
        type: integer
        format: int64
        description: Сметная базисная цена
  ResourceSection:
    type: object
    title: Раздел ресурсов
    description: Модель раздела ресурсов
    properties:
      id:
        type: integer
        description: Идентификатор раздела ресурсов
      name:
        type: string
        description: Название раздела ресурсов
      section_root:
        type: integer
        description: Идентификатор родительского раздела ресурсов
      is_deleted:
        type: boolean
        description: Флаг "Удален"
  ResourceType:
    type: object
    title: Тип ресурса
    description: Модель типа ресурсов
    properties:
      id:
        type: integer
        description: Идентификатор типа ресурсов
      name:
        type: string
        description: Название типа ресурсов
  ResourceStatus:
    type: object
    title: Статус ресурса
    description: Модель статуса ресурса
    properties:
      id:
        type: integer
        description: Идентификатор статуса ресурса
      name:
        type: string
        description: Название статуса ресурса
  ResourceStatusAction:
    type: object
    title: Статус действия ресурса
    description: Модель статуса действия ресурса
    properties:
      id:
        type: integer
        description: Идентификатор статуса действия ресурса
      name:
        type: string
        description: Название статуса действия ресурса
  Period:
    type: object
    title: Период
    description: Модель периода
    properties:
      id:
        type: integer
        description: Идентификатор периода
      name:
        type: string
        description: Название периода
      date_from:
        type: string
        format: date
        description: Дата начала периода
      date_till:
        type: string
        format: date
        description: Дата окончания периода
      status:
        type: integer
        description: Идентификатор статуса периода
  PeriodStatus:
    type: object
    title: Статус периода
    description: Модель статуса периода
    properties:
      id:
        type: integer
        description: Идентификатор статуса периода
      name:
        type: string
        description: Название статуса периода
  PowerType:
    type: object
    title: Тип энергоресурса
    description: Модель типа энергоресурса
    properties:
      id:
        type: integer
        description: Идентификатор типа энергоресурса
      name:
        type: string
        description: Название типа энергоресурса
  Relocation:
    type: object
    title: Перебазировка
    description: Модель перебазировки
    properties:
      id:
        type: integer
        description: Идентификатор перебазировки
      name:
        type: string
        description: Название перебазировки
  MetaObjectInfo:
    type: object
    title: Информация об объекте
    description: Модель мета - информации об объекте
    properties:
      name:
        type: string
        description: Название объекта
      description:
        type: string
        description: Описание объекта
      type:
        type: integer
        description: Тип объекта
      fields:
        type: array
        title: Параметры объекта
        items:
          $ref: '#/definitions/MetaFieldInfo'
  MetaFieldInfo:
    type: object
    title: Информации о параметре объекта
    description: Модель мета - информации о параметре объекта
    properties:
      name:
        type: string
        description: Название параметра
      description:
        type: string
        description: Описание параметра
      isRequared:
        type: boolean
        description: Метка "Является ли параметр обязательным"
      type:
        type: integer
        description: Тип параметра
      isArray:
        type: boolean
        description: Является ли параметр множеством
  MetaActionInfo:
    type: object
    title: Информации о действии над объектом
    description: Модель мета - информации о действии над объектом
    properties:
      name:
        type: string
        description: Название действия
      description:
        type: string
        description: Описание действия
  ServiceError:
    title: Ошибка при обработке запроса
    description: Модель ошибки при обработке запроса
    type: object
    properties:
      opisanie_oshibki:
        description: Описание ошибки
        type: string
      iskluchenie:
        description: Строка со стек - трейсом ошибки
        type: string
      oshibki_validacii:
        title: Список ошибок валидации
        type: array
        items:
          $ref: '#/definitions/ValidationError'
  ValidationError:
    title: Ошибка валидации
    description: Модель ошибки валидации
    type: object
    properties:
      nazvanie_polya:
        description: Название поля
        type: string
      soobshenie_ob_oshibke:
        description: Сообщение об ошибке
        type: string
