swagger: '2.0'
info:
  title: Monitoring - API
  description: API микросервиса "Мониторинг цен".
  termsOfService: 'http://www.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.ru/'
  version: '1'
  contact:
    name: Модуль "Мониторинг цен" API Support
    url: 'http://www.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.ru/'
    email: support@XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.ru
  license:
    name: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    url: 'http://www.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.ru/'
host: vm-ais-normativ.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.ru
basePath: /ws-mon/v1
produces:
  - application/json
schemes:
  - http
paths:
  /:
    get:
      description: Получение API для модуля мониторинга цен
      summary: API
      tags:
        - API-Doc
      responses:
        '200':
          description: Запрос успешно обработан
  /meri/zapros:
    get:
      summary: Единица измерения
      description: Получение списка единиц измерения
      tags:
        - Meri
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список единиц измерения
            type: array
            items:
              $ref: '#/definitions/Measure'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  '/meri/{kod}/zapros':
    get:
      summary: Единица измерения
      description: Получение единицы измерения
      tags:
        - Meri
      parameters:
        - name: kod
          in: path
          description: Идентификатор единицы измерения
          required: true
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            $ref: '#/definitions/Measure'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /meri/udalenie:
    post:
      summary: Единица измерения
      description: Удаление единицы измерения
      tags:
        - Meri
      parameters:
        - name: data
          in: body
          description: JSON структура единицы измерения
          required: true
          schema:
            $ref: '#/definitions/Measure'
      responses:
        '204':
          description: Единица измерения успешно удалена
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /meri/novoe:
    post:
      summary: Единица измерения
      description: Добавление новой единицы измерения
      tags:
        - Meri
      parameters:
        - name: data
          in: body
          description: JSON структура единицы измерения
          required: true
          schema:
            $ref: '#/definitions/Measure'
      responses:
        '201':
          description: Единица измерения успешно добавлена
          schema:
            $ref: '#/definitions/Measure'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /meri/redaktor:
    post:
      summary: Единица измерения
      description: Редактирование единицы измерения
      tags:
        - Meri
      parameters:
        - name: data
          in: body
          description: JSON структура отредактированной единицы измерения
          required: true
          schema:
            $ref: '#/definitions/Measure'
      responses:
        '200':
          description: Единица измерения успешно обновлена
          schema:
            $ref: '#/definitions/Measure'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /razdeli/zapros:
    get:
      summary: Раздел ресурсов
      description: Получение списка разделов ресурсов
      tags:
        - Razdeli
      parameters:
        - name: kod
          in: query
          description: Идентификатор раздела ресурсов
          required: false
          type: integer
        - name: roditel
          in: query
          description: Идентификатор раздела родителя
          required: false
          type: integer
        - name: sotrudnik
          in: query
          description: Идентификатор сотрудника
          required: false
          type: integer
        - name: tip_resursov
          in: query
          description: Идентификатор типа ресурсов
          required: false
          type: integer
        - name: razdel_udalen
          in: query
          description: |
            Метка "Удален" раздел или нет.
            False - по-умолчанию
          required: false
          type: boolean
          default: false
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список разделов ресурсов
            type: array
            items:
              $ref: '#/definitions/ResourceSection'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  '/razdeli/{kod}/zapros':
    get:
      summary: Раздел ресурсов
      description: Получение раздела ресурсов
      tags:
        - Razdeli
      parameters:
        - name: kod
          in: path
          description: Идентификатор раздела ресурсов
          required: true
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            $ref: '#/definitions/ResourceSection'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /razdeli/udalenie:
    post:
      summary: Раздел ресурсов
      description: Удаление раздела ресурсов
      tags:
        - Razdeli
      parameters:
        - name: data
          in: body
          description: JSON структура раздела ресурсов
          required: true
          schema:
            $ref: '#/definitions/ResourceSection'
      responses:
        '204':
          description: Раздел ресурсов успешно удален
        '409':
          description: Во время обработки запроса произошел конфликт
          schema:
            $ref: '#/definitions/ServiceError'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /razdeli/novoe:
    post:
      summary: Раздел ресурсов
      description: Добавление нового раздела ресусров
      tags:
        - Razdeli
      parameters:
        - name: data
          in: body
          description: JSON структура раздела ресурсов
          required: true
          schema:
            $ref: '#/definitions/ResourceSection'
      responses:
        '201':
          description: Единица измерения успешно добавлена
          schema:
            $ref: '#/definitions/ResourceSection'
        '412':
          description: Полученные данные не прошли валидацию
          schema:
            title: Список ошибок при валидации
            type: array
            items:
              $ref: '#/definitions/ServiceError'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /razdeli/redaktor:
    post:
      summary: Раздел ресурсов
      description: Редактирование раздела ресурсов
      tags:
        - Razdeli
      parameters:
        - name: data
          in: body
          description: JSON структура отредактированного раздела ресурсов
          required: true
          schema:
            $ref: '#/definitions/ResourceSection'
      responses:
        '200':
          description: Раздел ресурсов успешно обновлен
          schema:
            $ref: '#/definitions/ResourceSection'
        '409':
          description: Во время обработки запроса произошел конфликт
          schema:
            $ref: '#/definitions/ServiceError'
        '412':
          description: Полученные данные не прошли валидацию
          schema:
            title: Список ошибок при валидации
            type: array
            items:
              $ref: '#/definitions/ServiceError'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /razdeli/set_employee:
    post:
      summary: Раздел ресурсов
      description: Назначение ресурсов раздела сотруднику
      tags:
        - Razdeli
      parameters:
        - name: sotrudnik
          in: query
          description: >
            Идентификатор сотрудника
            
            
            Если необходимо убрать сотрудника - слово EMPTY
          required: true
          type: integer
        - name: razdel
          in: query
          description: Идентификатор раздела
          required: true
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
        '409':
          description: Во время обработки запроса произошел конфликт
          schema:
            $ref: '#/definitions/ServiceError'
        '412':
          description: Полученные данные не прошли валидацию
          schema:
            title: Список ошибок при валидации
            type: array
            items:
              $ref: '#/definitions/ServiceError'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /tipiresursov/zapros:
    get:
      summary: Тип ресурса
      description: Получение списка типов ресурсов
      tags:
        - TipiResursov
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список типов ресурсов
            type: array
            items:
              $ref: '#/definitions/ResourceType'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  '/tipiresursov/{kod}/zapros':
    get:
      summary: Тип ресурсов
      description: Получение типа ресурсов
      tags:
        - TipiResursov
      parameters:
        - name: kod
          in: path
          description: Идентификатор типа ресурсов
          required: true
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            $ref: '#/definitions/ResourceType'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resursi/zapros:
    get:
      summary: Ресурсы
      description: Получение списка ресурсов
      tags:
        - Resursi
      parameters:
        - name: kod
          in: query
          description: Идентификатор ресурса
          required: false
          type: integer
        - name: razdel
          in: query
          description: Идентификатор раздела
          required: false
          type: integer
        - name: tip_resursov
          in: query
          description: Идентификатор типа ресурсов
          required: false
          type: integer
        - name: status
          in: query
          description: Идентификатор статуса ресурса
          required: false
          type: integer
        - name: status_deistviya
          in: query
          description: Идентификатор статуса действия ресурса
          required: false
          type: integer
        - name: sotrudnik
          in: query
          description: Идентификатор сотрудника
          required: false
          type: integer
        - name: resurs_udalen
          in: query
          description: |
            Метка "Удален" ресурс или нет.
            False - по-умолчанию
          required: false
          type: boolean
          default: false
        - name: resurs_activen
          in: query
          description: |
            Метка "Активен" ресурс или нет.
            True - по-умолчанию
          required: false
          type: boolean
          default: true
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список ресурсов
            type: array
            items:
              $ref: '#/definitions/Resource'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  '/resursi/{kod}/zapros':
    get:
      summary: Ресурсf
      description: Получение ресурса
      tags:
        - Resursi
      parameters:
        - name: kod
          in: path
          description: Идентификатор ресурса
          required: true
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            $ref: '#/definitions/Resource'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resursi/udalenie:
    post:
      summary: Ресурсы
      description: Удаление ресурса
      tags:
        - Resursi
      parameters:
        - name: data
          in: body
          description: JSON структура ресурса
          required: true
          schema:
            $ref: '#/definitions/Resource'
      responses:
        '204':
          description: Ресурс успешно удален
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resursi/novoe:
    post:
      summary: Ресурсы
      description: Добавление нового ресурса
      tags:
        - Resursi
      parameters:
        - name: data
          in: body
          description: JSON структура ресурса
          required: true
          schema:
            $ref: '#/definitions/Resource'
      responses:
        '201':
          description: Ресурс успешно добавлен
          schema:
            $ref: '#/definitions/Resource'
        '412':
          description: Полученные данные не прошли валидацию
          schema:
            title: Список ошибок при валидации
            type: array
            items:
              $ref: '#/definitions/ServiceError'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resursi/redaktor:
    post:
      summary: Ресурсы
      description: Редактирование ресурса
      tags:
        - Resursi
      parameters:
        - name: data
          in: body
          description: JSON структура отредактированного ресурса
          required: true
          schema:
            $ref: '#/definitions/Resource'
      responses:
        '200':
          description: Ресурс успешно обновлен
          schema:
            $ref: '#/definitions/Resource'
        '409':
          description: Во время обработки запроса произошел конфликт
          schema:
            $ref: '#/definitions/ServiceError'
        '412':
          description: Полученные данные не прошли валидацию
          schema:
            title: Список ошибок при валидации
            type: array
            items:
              $ref: '#/definitions/ServiceError'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resursi/change_status:
    post:
      summary: Ресурсы
      description: Изменение статуса ресурса
      tags:
        - Resursi
      parameters:
        - name: kod_resursa
          in: query
          description: Идентификатор ресурса
          required: true
          type: integer
        - name: data
          in: body
          description: JSON структура нового статуса для ресурса
          required: true
          schema:
            $ref: '#/definitions/ResourceStatus'
      responses:
        '200':
          description: Ресурс успешно обновлен
          schema:
            $ref: '#/definitions/Resource'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resursi/check_tsn:
    get:
      summary: Ресурсы
      description: Проверка существования ТСН
      tags:
        - Resursi
      parameters:
        - name: tsn
          in: query
          description: ТСН
          required: true
          type: string
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: 'true - если информация о ресурсе с заданным ТСН есть, иначе false'
            type: boolean
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resursi/imya_zapros:
    get:
      summary: Ресурсы
      description: Получение названия ресурса по ТСН
      tags:
        - Resursi
      parameters:
        - name: tsn
          in: query
          description: ТСН
          required: true
          type: string
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Название ресурса
            type: string
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resursi/count_by:
    get:
      summary: Ресурсы
      description: Получение количества ресурсов в зависимости от переданных параметров
      tags:
        - Resursi
      parameters:
        - name: razdel
          in: query
          description: Идентификатор раздела
          required: false
          type: integer
        - name: sotrudnik
          in: query
          description: Идентификатор сотрудника
          required: false
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            title: Количество ресурсов
            type: integer
        '409':
          description: Во время обработки запроса произошел конфликт
          schema:
            $ref: '#/definitions/ServiceError'
        '412':
          description: Полученные данные не прошли валидацию
          schema:
            title: Список ошибок при валидации
            type: array
            items:
              $ref: '#/definitions/ServiceError'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXerioda/zapros:
    get:
      summary: Ресурсы периода
      description: Получение списка цен поставщиков ресурсов в периоде
      tags:
        - ResXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXerioda
      parameters:
        - name: kod
          in: query
          description: Идентификатор ресурса в периоде
          required: false
          type: integer
        - name: kod_resursa
          in: query
          description: Идентификатор ресурса
          required: false
          type: integer
        - name: organizaciya
          in: query
          description: 'Идентификатор организации, поставляющей ресурс'
          required: false
          type: integer
        - name: period
          in: query
          description: Идентификатор периода
          required: false
          type: integer
        - name: tip_resursov
          in: query
          description: Идентификатор типа ресурсов
          required: false
          type: integer
        - name: razdel
          in: query
          description: Идентификатор раздела
          required: false
          type: integer
        - name: status
          in: query
          description: Идентификатор статуса ресурса
          required: false
          type: integer
        - name: status_deistviya
          in: query
          description: Идентификатор статуса действия ресурса
          required: false
          type: integer
        - name: sotrudnik
          in: query
          description: Идентификатор сотрудника
          required: false
          type: integer
        - name: resurs_udalen
          in: query
          description: |
            Метка "Удален" ресурс или нет.
            False - по-умолчанию
          required: false
          type: boolean
          default: false
        - name: resurs_period_udalen
          in: query
          description: |
            Метка "Удалена" цена поставщика ресурса в периоде или нет.
            False - по-умолчанию
          required: false
          type: boolean
          default: false
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список цен поставщиков ресурсов в периоде
            type: array
            items:
              $ref: '#/definitions/ResourcePeriod'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  '/resXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXerioda/{kod}/zapros':
    get:
      summary: Ресурсы периода
      description: Получение цены поставщика ресурса в периоде
      tags:
        - ResXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXerioda
      parameters:
        - name: kod
          in: path
          description: Идентификатор цены поставщика ресурса в периоде
          required: true
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            $ref: '#/definitions/ResourcePeriod'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXerioda/udalenie:
    post:
      summary: Ресурсы периода
      description: Удаление цены поставщика ресурса в периоде
      tags:
        - ResXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXerioda
      parameters:
        - name: data
          in: body
          description: JSON структура цены поставщика ресурса в периоде
          required: true
          schema:
            $ref: '#/definitions/ResourcePeriod'
      responses:
        '204':
          description: Цена поставщика ресурса в периоде успешно удалена
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXerioda/novoe:
    post:
      summary: Ресурсы периода
      description: Добавление цены поставщика ресурса в периоде
      tags:
        - ResXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXerioda
      parameters:
        - name: data
          in: body
          description: JSON структура цены поставщика ресурса в периоде
          required: true
          schema:
            $ref: '#/definitions/ResourcePeriod'
      responses:
        '201':
          description: Цена поставщика ресурса успешно добавлена
          schema:
            $ref: '#/definitions/ResourcePeriod'
        '409':
          description: Во время обработки запроса произошел конфликт
          schema:
            $ref: '#/definitions/ServiceError'
        '412':
          description: Ошибка валидации данных
          schema:
            $ref: '#/definitions/ServiceError'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXerioda/redaktor:
    post:
      summary: Ресурсы периода
      description: Редактирование цены поставщика ресурса в периоде
      tags:
        - ResXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXerioda
      parameters:
        - name: data
          in: body
          description: JSON структура отредактированной цены поставщика ресурса в периоде
          required: true
          schema:
            $ref: '#/definitions/ResourcePeriod'
      responses:
        '200':
          description: Цена поставщика ресурса успешно обновлена
          schema:
            $ref: '#/definitions/ResourcePeriod'
        '409':
          description: Во время обработки запроса произошел конфликт
          schema:
            $ref: '#/definitions/ServiceError'
        '412':
          description: Ошибка валидации данных
          schema:
            $ref: '#/definitions/ServiceError'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXerioda/check_main_price:
    post:
      summary: Ресурсы периода
      description: Установка цены поставщика ресурса в периоде как основной
      tags:
        - ResXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXerioda
      parameters:
        - name: kod_resursaperioda
          in: query
          description: Идентификатор цены поставщика ресурса в периоде
          required: true
          type: integer
      responses:
        '200':
          description: Цена поставщика ресурса в периоде успешно установлена как основная
          schema:
            $ref: '#/definitions/ResourcePeriod'
        '409':
          description: Во время обработки запроса произошел конфликт
          schema:
            $ref: '#/definitions/ServiceError'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXerioda/otchet:
    get:
      summary: Ресурсы периода
      description: Формирование отчета по ценам поставщиков ресурсов в периоде
      tags:
        - Otchet
      parameters:
        - name: kod_perioda
          in: query
          description: Идентификатор периода
          required: true
          type: integer
        - name: report_type
          in: query
          description: >
            Тип отчета:


            RESULT_PERIOD_CALC_METHOD_MON - Отчет по списку отпускных цен в 
            зависимости от выбранного метода вычислений.


            RESULT_NOT_FALL_CORRIDOR - Отчет по списку отпускных цен, которые не
            попали в установленный коридор.


            RESULT_PERIOD_MON - Отчет по списку отпускных цен за период.


            FOUR_PERIODS_MON - Отчет по списку отпускных цен поставщиков  за 4
            периода
          required: true
          type: string
        - name: report_format
          in: query
          description: |
            Формат отчета:

            EXCEL - Отчет в формате EXCEL.

            PDF - Отчет в формате PDF.
          required: true
          type: string
      responses:
        '200':
          description: Запрос успешно обработан
        '409':
          description: Во время обработки запроса произошел конфликт
          schema:
            $ref: '#/definitions/ServiceError'
        '412':
          description: Полученные данные не прошли валидацию
          schema:
            title: Список ошибок при валидации
            type: array
            items:
              $ref: '#/definitions/ServiceError'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /periodi/zapros:
    get:
      summary: Периоды
      description: Получение списка периодов
      tags:
        - Periodi
      parameters:
        - name: kod
          in: query
          description: Идентификатор периода
          required: false
          type: integer
        - name: status
          in: query
          description: Идентификатор статуса периода
          required: false
          type: integer
        - name: tip_resursov
          in: query
          description: Идентификатор типа ресурсов
          required: false
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список периодов
            type: array
            items:
              $ref: '#/definitions/Period'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  '/periodi/{kod}/zapros':
    get:
      summary: Периоды
      description: Получение периода
      tags:
        - Periodi
      parameters:
        - name: kod
          in: path
          description: Идентификатор периода
          required: true
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            $ref: '#/definitions/Period'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /periodi/udalenie:
    post:
      summary: Периоды
      description: Удаление периода
      tags:
        - Periodi
      parameters:
        - name: data
          in: body
          description: JSON структура периода
          required: true
          schema:
            $ref: '#/definitions/Period'
      responses:
        '204':
          description: Период успешно удален
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /periodi/novoe:
    post:
      summary: Периоды
      description: Добавление нового периода
      tags:
        - Periodi
      parameters:
        - name: data
          in: body
          description: JSON структура периода
          required: true
          schema:
            $ref: '#/definitions/Period'
      responses:
        '201':
          description: Период успешно добавлен
          schema:
            $ref: '#/definitions/Period'
        '409':
          description: Во время обработки запроса произошел конфликт
          schema:
            $ref: '#/definitions/ServiceError'
        '412':
          description: Полученные данные не прошли валидацию
          schema:
            title: Список ошибок при валидации
            type: array
            items:
              $ref: '#/definitions/ServiceError'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /periodi/redaktor:
    post:
      summary: Периоды
      description: Редактирование периода
      tags:
        - Periodi
      parameters:
        - name: data
          in: body
          description: JSON структура отредактированного периода
          required: true
          schema:
            $ref: '#/definitions/Period'
      responses:
        '200':
          description: Период успешно обновлен
          schema:
            $ref: '#/definitions/Period'
        '409':
          description: Во время обработки запроса произошел конфликт
          schema:
            $ref: '#/definitions/ServiceError'
        '412':
          description: Полученные данные не прошли валидацию
          schema:
            title: Список ошибок при валидации
            type: array
            items:
              $ref: '#/definitions/ServiceError'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /periodstatusi/zapros:
    get:
      summary: Статусы периода
      description: Получение списка статусов периода
      tags:
        - Statusi
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список статусов периода
            type: array
            items:
              $ref: '#/definitions/PeriodStatus'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  '/periodstatusi/{kod}/zapros':
    get:
      summary: Статусы периода
      description: Получение статуса периода
      tags:
        - Statusi
      parameters:
        - name: kod
          in: path
          description: Идентификатор статуса периода
          required: true
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            $ref: '#/definitions/PeriodStatus'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resursstatusi/zapros:
    get:
      summary: Статусы ресурса
      description: Получение списка статусов ресурса
      tags:
        - Statusi
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список статусов ресурса
            type: array
            items:
              $ref: '#/definitions/ResourceStatus'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  '/resursstatusi/{kod}/zapros':
    get:
      summary: Статусы ресурса
      description: Получение статуса ресурса
      tags:
        - Statusi
      parameters:
        - name: kod
          in: path
          description: Идентификатор статуса ресурса
          required: true
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            $ref: '#/definitions/ResourceStatus'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /resursstatusideistviya/zapros:
    get:
      summary: Статусы действия над ресурсом
      description: Получение списка статусов действия над ресурсом
      tags:
        - Statusi
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список статусов действия над ресурсом
            type: array
            items:
              $ref: '#/definitions/ResourceStatusAction'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  '/resursstatusideistviya/{kod}/zapros':
    get:
      summary: Статусы действия над ресурсом
      description: Получение статуса действия над ресурсом
      tags:
        - Statusi
      parameters:
        - name: kod
          in: path
          description: Идентификатор статуса действия над ресурсом
          required: true
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            $ref: '#/definitions/ResourceStatusAction'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /metodvichisleniy/zapros:
    get:
      summary: Статусы действия над ресурсом
      description: Получение списка методов вычислений
      tags:
        - MethodVichisleniy
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список методов вычислений
            type: array
            items:
              $ref: '#/definitions/CalculationMethod'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /metodvichisleniy/redaktor:
    post:
      summary: Статусы действия над ресурсом
      description: Изменение метода вычислений
      tags:
        - MethodVichisleniy
      parameters:
        - name: data
          in: body
          description: JSON структура отредактированного метода вычислений
          required: true
          schema:
            $ref: '#/definitions/CalculationMethod'
      responses:
        '200':
          description: Метод вычислений успешно обновлен
          schema:
            $ref: '#/definitions/CalculationMethod'
        '409':
          description: Во время обработки запроса произошел конфликт
          schema:
            $ref: '#/definitions/ServiceError'
        '412':
          description: Полученные данные не прошли валидацию
          schema:
            title: Список ошибок при валидации
            type: array
            items:
              $ref: '#/definitions/ServiceError'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  '/metodvichisleniy/{kod}/zapros':
    get:
      summary: Метод вычислений
      description: Получение метода вычислений
      tags:
        - MethodVichisleniy
      parameters:
        - name: kod
          in: path
          description: Идентификатор метода вычислений
          required: true
          type: integer
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            $ref: '#/definitions/CalculationMethod'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /koridorizmeneniy/zapros:
    get:
      summary: Коридор изменений
      description: Получение списка коридиров изменений
      tags:
        - KoridorIzmeneniy
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список коридиров изменений
            type: array
            items:
              $ref: '#/definitions/ChangeCorridor'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /koridorizmeneniy/redaktor:
    post:
      summary: Коридор изменений
      description: Редактирование коридира изменений
      tags:
        - KoridorIzmeneniy
      parameters:
        - name: data
          in: body
          description: JSON структура отредактированного коридира изменений
          required: true
          schema:
            $ref: '#/definitions/ChangeCorridor'
      responses:
        '200':
          description: Коридира изменений успешно обновлен
          schema:
            $ref: '#/definitions/ChangeCorridor'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /metainfo/zapros:
    get:
      summary: Meta-Info
      description: Мета-информация об объектах
      tags:
        - Meta
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список объектов с описанием их полей
            type: array
            items:
              $ref: '#/definitions/MetaObjectInfo'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /metaaction/zapros:
    get:
      summary: Meta-Action
      description: Мета-информация о действиях над объектами
      tags:
        - Meta
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            description: Список объектов с возможными действиями над ними
            type: array
            items:
              $ref: '#/definitions/MetaActionInfo'
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
  /metadata/zapros:
    get:
      summary: Meta-Data
      description: Мета-данные объекта
      tags:
        - Meta
      parameters:
        - name: object_type
          in: query
          description: Тип объекта
          required: true
          type: string
        - name: object_field
          in: query
          description: Поле объекта
          required: true
          type: string
      responses:
        '200':
          description: Запрос успешно обработан
          schema:
            title: Значения поля
            description: Список значений заданного поля объекта
            type: array
            items:
              description: Значение поля объекта
              type: string
        '500':
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/ServiceError'
definitions:
  Resource:
    type: object
    title: Ресурс
    description: Модель ресурса
    properties:
      kod:
        type: integer
        description: Идентификатор ресурса
      nazvanie:
        type: string
        description: Название ресурса
      polnoe_nazvanie:
        type: string
        description: Полное название ресурса
      kod_tsn:
        type: string
        description: Код ТСН (Обязательное)
      kod_okp:
        type: string
        description: Код ОКП
      kod_okpd2:
        type: string
        description: Код ОКПД2
      massa_netto:
        type: number
        format: double
        description: Масса нето
      massa_gross:
        type: number
        format: double
        description: Масса гросс
      harakteristika:
        type: string
        description: Технические характеристики
      primechanie:
        type: string
        description: Примечение
      resource_root:
        type: integer
        description: Идентификатор ранее использовавшегося ресурса
      udalena:
        type: boolean
        description: Флаг удаления (Обязательное)
      activen:
        type: boolean
        description: Флаг активности ресурса (Обязательное)
      vozvrat:
        type: boolean
        description: Флаг "Возврата" (Обязательное)
      tip_resursa:
        $ref: '#/definitions/ResourceType'
      razdel:
        $ref: '#/definitions/ResourceSection'
      mera:
        $ref: '#/definitions/Measure'
      status:
        $ref: '#/definitions/ResourceStatus'
      status_deistviya:
        $ref: '#/definitions/ResourceStatusAction'
  Measure:
    type: object
    title: Единица измерения
    description: Модель единицы измерения
    properties:
      kod:
        type: integer
        description: Идентификатор единицы измерения
      nazvanie:
        type: string
        description: Название единицы измерения
      code:
        type: string
        description: Общепризнанное сокращение единицы измерения
  ResourceSection:
    type: object
    title: Раздел ресурсов
    description: Модель раздела ресурсов
    properties:
      kod:
        type: integer
        description: Идентификатор раздела ресурсов
      nazvanie:
        type: string
        description: Название раздела ресурсов
      roditel:
        type: integer
        description: Идентификатор родительского раздела ресурсов
      sotrudnik:
        type: integer
        description: Идентификатор сотрудника
      udalena:
        type: boolean
        description: Флаг "Удалена"
      count_resources:
        type: integer
        description: Количество ресурсов в разделе
  ResourceType:
    type: object
    title: Тип ресурса
    description: Модель типа ресурсов
    properties:
      kod:
        type: integer
        description: Идентификатор типа ресурсов
      nazvanie:
        type: string
        description: Название типа ресурсов
  ResourceStatus:
    type: object
    title: Статус ресурса
    description: Модель статуса ресурса
    properties:
      kod:
        type: integer
        description: Идентификатор статуса ресурса
      nazvanie:
        type: string
        description: Название статуса ресурса
      prioritet:
        type: integer
        description: Приоритет статуса
  ResourceStatusAction:
    type: object
    title: Статус действия ресурса
    description: Модель статуса действия ресурса
    properties:
      kod:
        type: integer
        description: Идентификатор статуса действия ресурса
      nazvanie:
        type: string
        description: Название статуса действия ресурса
  Period:
    type: object
    title: Период
    description: Модель периода
    properties:
      kod:
        type: integer
        description: Идентификатор периода
      nazvanie:
        type: string
        description: Название периода
      ot:
        type: string
        format: date
        description: Дата начала периода
      do:
        type: string
        format: date
        description: Дата окончания периода
      status:
        $ref: '#/definitions/PeriodStatus'
      tip_resursov:
        $ref: '#/definitions/ResourceType'
      metod_vichisleniy:
        $ref: '#/definitions/CalculationMethod'
  PeriodStatus:
    type: object
    title: Статус периода
    description: Модель статуса периода
    properties:
      kod:
        type: integer
        description: Идентификатор статуса периода
      nazvanie:
        type: string
        description: Название статуса периода
  ResourcePeriod:
    type: object
    title: Период ресурса
    description: Модель периода ресурса
    properties:
      kod:
        type: integer
        description: Идентификатор периода ресурса
      nachalnaya_cena:
        type: integer
        format: int64
        description: Начальная цена (в копейках)
      izmenennaya_cena:
        type: integer
        format: int64
        description: Цена после изменений (в копейках)
      organizaciya:
        type: integer
        description: Идентификатор организации (Обязательное)
      s_transportnymi_rashodami:
        type: boolean
        description: Флаг "С транспортными расходами" или нет (Обязательное)
      udalena:
        type: boolean
        description: Флаг "Удаления" (Обязательное)
      proizvoditel:
        type: string
        description: Производитель
      osnovnaya_cena:
        type: integer
        format: int64
        description: Основная цена (в копейках)
      otklonenie_ot_osnovnoi_ceni:
        type: integer
        description: Отклонение от основнай цены (в процентах)
      eto_osnovnaya_cena:
        type: boolean
        description: Флаг "Основная цена" (Обязательное)
      vozvrat_sotrudniku:
        type: boolean
        description: Флаг "Возврат цены поставщика ресурса к сотруднику" (Обязательное)
      vozvrat_rukovoditelju:
        type: boolean
        description: Флаг "Возврат цены поставщика ресурса к руководителю" (Обязательное)
      proverka:
        type: boolean
        description: Флаг "Проверки" (Обязательное)
      period:
        $ref: '#/definitions/Period'
      resurs:
        $ref: '#/definitions/Resource'
  CalculationMethod:
    type: object
    title: Метод расчета
    description: Модель метода расчета
    properties:
      kod:
        type: integer
        description: Идентификатор метода расчета
      nazvanie:
        type: string
        description: Название метода расчета
      opisanie:
        type: string
        description: Описание метода расчета
      activen:
        type: boolean
        description: Флаг "Активности" (использования)
  ChangeCorridor:
    type: object
    title: Коридор значений
    description: Модель коридора значений
    properties:
      kod:
        type: integer
        description: Идентификатор коридора значений
      znachenie:
        type: integer
        description: Величина коридора значений
  CodeTransportCost:
    type: object
    title: Транспортные затраты
    description: Модель транспортных затрат
    properties:
      kod:
        type: integer
        description: Идентификатор кода транспортных затрат
      nazvanie:
        type: string
        description: Название транспортных затрат
      tr_code_tsn:
        type: string
        description: Код ТСН транспортных затрат
      cena:
        type: integer
        format: int64
        description: Цена транспортных затрат (в копейках)
  Zsr:
    type: object
    title: ЗСР
    description: Модель ЗСР
    properties:
      kod:
        type: integer
        description: Идентификатор ЗСР
      nazvanie:
        type: string
        description: Название ЗСР
      znachenie:
        type: number
        format: double
        description: Значение ЗСР
  MetaObjectInfo:
    type: object
    title: Информация об объекте
    description: Модель мета - информации об объекте
    properties:
      name:
        type: string
        description: Название объекта
      description:
        type: string
        description: Описание объекта
      type:
        type: integer
        description: Тип объекта
      fields:
        type: array
        title: Параметры объекта
        items:
          $ref: '#/definitions/MetaFieldInfo'
  MetaFieldInfo:
    type: object
    title: Информации о параметре объекта
    description: Модель мета - информации о параметре объекта
    properties:
      name:
        type: string
        description: Название параметра
      description:
        type: string
        description: Описание параметра
      isRequared:
        type: boolean
        description: Метка "Является ли параметр обязательным"
      type:
        type: integer
        description: Тип параметра
      isArray:
        type: boolean
        description: Является ли параметр множеством
  MetaActionInfo:
    type: object
    title: Информации о действии над объектом
    description: Модель мета - информации о действии над объектом
    properties:
      name:
        type: string
        description: Название действия
      description:
        type: string
        description: Описание действия
  ServiceError:
    title: Ошибка при обработке запроса
    description: Модель ошибки при обработке запроса
    type: object
    properties:
      opisanie_oshibki:
        description: Описание ошибки
        type: string
      iskluchenie:
        description: Строка со стек - трейсом ошибки
        type: string
      oshibki_validacii:
        title: Список ошибок валидации
        type: array
        items:
          $ref: '#/definitions/ValidationError'
  ValidationError:
    title: Ошибка валидации
    description: Модель ошибки валидации
    type: object
    properties:
      nazvanie_polya:
        description: Название поля
        type: string
      soobshenie_ob_oshibke:
        description: Сообщение об ошибке
        type: string
